* {
   box-sizing: border-box;
 }

 .header {
   width: 400px;
   height: 100px;
   background-color: #141f40;  
}

#red-three-conteiner {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 100px;
   margin-right: 20px;
}

.red {
   width: 60px;
   height: 60px;
   border: 5px solid white;
   background-color: #a9004b;
}

.main {
    display: flex;
 }

 .left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;  
 }

 .right {
   width: 250px;
   height: 250px;
   background-color: #8c2727;
 }

 .orengeConteiner {
  position: relative;
  top: 20px;
  left: 30px; 
}

 .orenge {
    width: 150px;
    height: 50px;
    background-color: #ff863f;  
    border: solid 5px white;
    margin: 10px 0px;
 }

 

 .footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;  
 }